@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.carousel {
  width: 450px;
  height: 520px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.images-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 10px 16px;
}

.buttons-container .btn {
  border: none;
  padding: 10px;
  width: 80px;
  outline: none;
  background-color: #03a9f4;
  color: white;
  font-size: 15px;
  font-weight: semi-bold;
  cursor: pointer;
  transition: 0.3s;
}

.buttons-container .btn:hover {
  background-color: black;
}